ztest/jqs.py
log/

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/workspace.xml
# Sensitive or high-churn files:
# Gradle:
# Mongo Explorer plugin:
## File-based project format:
## Plugin-specific files:

# IntelliJ
# mpeltonen/sbt-idea plugin
# JIRA plugin
# Crashlytics plugin (for Android Studio and IntelliJ)
# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
# Installer logs
# Unit test / coverage reports
# Translations
# Django stuff:
# Flask stuff:
# Scrapy stuff:
# Sphinx documentation
# PyBuilder
# Jupyter Notebook
.ipynb_checkpoints

# pyenv
# celery beat schedule file
# dotenv
# virtualenv
# Spyder project settings
# Rope project settings
session_cache_one_day.sqlite
__pycache__/
common/__file_cache__/
common/__pycache__/
common/data_structures/__pycache__/
common/my_old/__pycache__/
common_stock/__pycache__/common_stock_helper.cpython-36.pyc
common_stock/__pycache__/stock_config.cpython-36.pyc
common_stock/__pycache__/stock_data.cpython-36.pyc
common_stock/data_shelve/
common_stock/stock_cache_data/
common_stock/stock_querier/__pycache__/
data_manager/__pycache__/stock_day_bar_manager.cpython-36.pyc
ip/__pycache__/
project_helper/__pycache__/
shelve/
trading/__pycache__/
trading/base_structure/__pycache__/
trading/model_buy_after_drop.sqlite
trading/models/__pycache__/
